{% extends "base.html" %}
{% block content %}

    <div id="wrapper">

        {% include "navbar_admin.html" %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                            <div class="panel-heading">
                                Изменить оценку
                            </div>
                            <div class="panel-body">
                                <form role="form" action="" method="post">
                                    {{ form.csrf_token() }}
                                    <div class="form-group">
                                        {{ course_form.course.label() }}
                                        {{ course_form.course(class="form-control") }}
                                        {% for error in course_form.course.errors %}
                                            <small class="text-danger">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.user.label() }}
                                        {{ form.user(class="form-control") }}
                                        {% for error in form.user.errors %}
                                            <small class="text-danger">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.task.label() }}
                                        {{ form.task(class="form-control") }}
                                        {% for error in form.task.errors %}
                                            <small class="text-danger">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.mark.label() }}
                                        {{ form.mark(class="form-control", placeholder="Введите оценку") }}
                                        {% for error in form.mark.errors %}
                                            <small class="text-danger">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.submit(class="btn btn-default") }}
                                    </div>
                                </form>
                            </div>
                </div>
            </div>
            {% for category, message in get_flashed_messages(with_categories=true, category_filter=["success_ch_m"]) %}
                <div class="alert alert-success" style="width: 25%">
                    {{ message }}
                </div>
		    {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        "use strict";

        var courses_users = {{ users|tojson }};
        var courses_tasks = {{ tasks|tojson }};

        let $course = $('select#course');
        let $user = $('select#user');
        let $task = $('select#task');
        let $mark = $('input#mark');

        let emptyValue = '__None'

        $course.change(function(ev) {
            $user.empty();
            $task.empty();
            $user.append($('<option/>', {'value': emptyValue, 'text': '-------'}));
            $task.append($('<option/>', {'value': emptyValue, 'text': '-------'}));

            $user.prop( "disabled", true );
            $task.prop( "disabled", true );
            $mark.prop( "disabled", true );

            let courseId = $course.val();

            if (courseId !== emptyValue) {
                $user.prop( "disabled", false );
                $task.prop( "disabled", false );
                $mark.prop( "disabled", false );

                let users = courses_users[$course.val()];
                let tasks = courses_tasks[$course.val()];

                for (let item of users) {
                    $user.append($('<option/>', {'value': item[0], 'text':  item[1]}));
                }
                for (let item of tasks) {
                    $task.append($('<option/>', {'value': item[0], 'text': item[1]}));
                }
            }

        }).trigger('change');
    </script>
{% endblock%}
