{% extends "base.html" %}
{% block content %}
<div id="wrapper">
    {% include "navbar.html" %}
    <div id="page-wrapper">
        <div class="container-fluid">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Таблица успеваемости</h1>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <h1>{{course.name}}</h1>
                                    </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th>Практика</th>
                                            <th>Оценка</th>
                                            <th>Дедлайн</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for solution in solutions %}
                                        <tr>
                                            <td>{{solution.task.name}}</td>
                                            <td>{{solution.mark}}</td>
                                            <td>{{solution.task.deadline.date().strftime("%A, %d. %B %Y")}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

        </div>
    </div>
</div>
{% endblock %}
